In [2]:
import pandas as pd

Import CSV

In [3]:
df = pd.read_csv('CropPol_field_level_data.csv')

In [3]:
display(df.head())

,study_id,site_id,crop,variety,management,country,latitude,longitude,X_UTM,Y_UTM,...,visit_humbleflies,visit_other_flies,visit_beetles,visit_lepidoptera,visit_nonbee_hymenoptera,visit_others,Publication,Credit,Email_contact,notes
0,Agustin_Saez_Rubus_idaeus_Argentina_2014,Arroyo Claro,Rubus idaeus,Autumn bliss,organic,Argentina,-41.945183,-71.520683,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.1126/science.aac7287,Agustin Saez/CONICET (Universidad Nacional del...,agustinsaez@live.com.ar,NaN
1,Agustin_Saez_Rubus_idaeus_Argentina_2014,Miguel,Rubus idaeus,Autumn bliss,organic,Argentina,-42.010350,-71.528050,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.1126/science.aac7287,Agustin Saez/CONICET (Universidad Nacional del...,agustinsaez@live.com.ar,NaN
2,Agustin_Saez_Rubus_idaeus_Argentina_2014,Marcelino,Rubus idaeus,Autumn bliss,organic,Argentina,-42.115781,-71.438620,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.1126/science.aac7287,Agustin Saez/CONICET (Universidad Nacional del...,agustinsaez@live.com.ar,NaN
3,Agustin_Saez_Rubus_idaeus_Argentina_2014,Valle del Medio,Rubus idaeus,Autumn bliss,organic,Argentina,-41.999750,-71.552483,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.1126/science.aac7287,Agustin Saez/CONICET (Universidad Nacional del...,agustinsaez@live.com.ar,NaN
4,Agustin_Saez_Rubus_idaeus_Argentina_2014,Omar,Rubus idaeus,Autumn bliss,organic,Argentina,-42.125874,-71.423180,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.1126/science.aac7287,Agustin Saez/CONICET (Universidad Nacional del...,agustinsaez@live.com.ar,NaN

Describe contents

In [4]:
display(df.describe())
display(df.info())

,latitude,longitude,X_UTM,Y_UTM,sampling_start_month,sampling_end_month,field_size,yield,yield2,yield_treatments_no_pollinators,...,visit_honeybee,visit_bombus,visit_wildbees,visit_syrphids,visit_humbleflies,visit_other_flies,visit_beetles,visit_lepidoptera,visit_nonbee_hymenoptera,visit_others
count,3022.000000,3022.000000,4.260000e+02,4.260000e+02,2138.000000,2138.000000,1329.000000,2.552000e+03,1556.000000,925.000000,...,1998.000000,1990.000000,1956.000000,1816.000000,1060.000000,1168.000000,996.000000,1060.000000,1258.000000,1058.000000
mean,31.095755,-33.157792,5.389457e+05,5.528470e+06,5.653882,6.228718,549.528729,4.867523e+03,87.182394,29.229014,...,44.360567,3.221076,7.837136,5.375810,1.310054,4.182063,0.852512,0.421118,4.640709,0.693204
std,24.689600,72.000276,1.167654e+06,2.792896e+06,2.337050,2.211676,4348.363675,4.234786e+04,604.942829,136.818806,...,338.850210,22.580473,112.570643,75.685399,21.320282,31.143693,9.435716,8.503293,61.639296,7.405738
min,-42.127667,-123.197929,-4.069306e+06,1.424900e+05,1.000000,1.000000,0.000375,-1.770894e+00,-1.414558,-2.221444,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.209942,-85.758000,3.449599e+05,3.898002e+06,4.000000,5.000000,0.950000,1.388622e+00,0.690153,0.354346,...,0.059535,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,40.680000,-68.271840,4.839776e+05,5.272839e+06,5.000000,6.000000,2.832800,1.230000e+01,1.000000,0.627165,...,0.977406,0.000000,0.027804,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,47.020601,9.592493,6.426535e+05,8.516152e+06,7.000000,7.000000,10.000000,5.612232e+01,15.725360,3.709500,...,9.750000,0.332531,0.482701,0.020779,0.000000,0.014174,0.000000,0.000000,0.000000,0.000000
max,59.865284,176.320387,4.326346e+06,9.757262e+06,12.000000,12.000000,84573.000000,1.500000e+06,10386.597814,1272.600000,...,7574.677560,492.000000,4251.754800,1980.457920,593.704080,607.631040,200.000000,229.787280,1332.723960,113.524560

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3394 entries, 0 to 3393
Data columns (total 65 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   study_id                             3394 non-null   object
 1   site_id                              3394 non-null   object
 2   crop                                 3394 non-null   object
 3   variety                              1642 non-null   object
 4   management                           2163 non-null   object
 5   country                              3394 non-null   object
 6   latitude                             3022 non-null   float64
 7   longitude                            3022 non-null   float64
 8   X_UTM                                426 non-null    float64
 9   Y_UTM                                426 non-null    float64
 10  zone_UTM                             402 non-null    object
 11  sampling_start_month                 2138 non-null   float64
 12  sampling_end_month                   2138 non-null   float64
 13  sampling_year                        3394 non-null   object
 14  field_size                           1329 non-null   float64
 15  yield                                2552 non-null   float64
 16  yield_units                          2608 non-null   object
 17  yield2                               1556 non-null   float64
 18  yield2_units                         1624 non-null   object
 19  yield_treatments_no_pollinators      925 non-null    float64
 20  yield_treatments_pollen_supplement   704 non-null    float64
 21  yield_treatments_no_pollinators2     689 non-null    float64
 22  yield_treatments_pollen_supplement2  590 non-null    float64
 23  fruits_per_plant                     216 non-null    float64
 24  fruit_weight                         788 non-null    float64
 25  plant_density                        220 non-null    float64
 26  seeds_per_fruit                      215 non-null    float64
 27  seeds_per_plant                      82 non-null     float64
 28  seed_weight                          109 non-null    float64
 29  sampling_richness                    2110 non-null   object
 30  observed_pollinator_richness         1852 non-null   float64
 31  other_pollinator_richness            1558 non-null   float64
 32  other_richness_estimator_method      1569 non-null   object
 33  richness_restriction                 1891 non-null   object
 34  sampling_abundance                   1964 non-null   object
 35  abundance                            2304 non-null   float64
 36  ab_honeybee                          2278 non-null   float64
 37  ab_bombus                            2251 non-null   float64
 38  ab_wildbees                          2240 non-null   float64
 39  ab_syrphids                          2143 non-null   float64
 40  ab_humbleflies                       2134 non-null   float64
 41  ab_other_flies                       2134 non-null   float64
 42  ab_beetles                           2129 non-null   float64
 43  ab_lepidoptera                       2134 non-null   float64
 44  ab_nonbee_hymenoptera                2129 non-null   float64
 45  ab_others                            2094 non-null   float64
 46  total_sampled_area                   1519 non-null   float64
 47  total_sampled_time                   1846 non-null   float64
 48  sampling_visitation                  1836 non-null   object
 49  visitation_rate_units                2089 non-null   object
 50  visitation_rate                      2004 non-null   float64
 51  visit_honeybee                       1998 non-null   float64
 52  visit_bombus                         1990 non-null   float64
 53  visit_wildbees                       1956 non-null   float64
 54  visit_syrphids                       1816 non-null   float64
 55  visit_humbleflies                    1060 non-null   float64
 56  visit_other_flies                    1168 non-null   float64
 57  visit_beetles                        996 non-null    float64
 58  visit_lepidoptera                    1060 non-null   float64
 59  visit_nonbee_hymenoptera             1258 non-null   float64
 60  visit_others                         1058 non-null   float64
 61  Publication                          2988 non-null   object
 62  Credit                               3364 non-null   object
 63  Email_contact                        3394 non-null   object
 64  notes                                478 non-null    object
dtypes: float64(45), object(20)
memory usage: 1.7+ MB

None

In [5]:
countries = df['country'].unique()
display(countries)

array(['Argentina', 'Spain', 'Indonesia', 'USA', 'Tanzania', 'Ireland',
       'Canada', 'Brazil', 'Australia', 'Mexico', 'Switzerland', 'Italy',
       'Netherlands', 'Philippines', 'Germany', 'Sweden', 'Colombia',
       'Poland', 'Japan', 'Norway', 'France', 'UK', 'Thailand',
       'South Africa', 'New Zealand', 'Kenya', 'Belgium', 'Portugal',
       'India', 'Costa Rica', 'Israel', 'China', 'Ecuador', 'Denmark'],
      dtype=object)

In [6]:
countries_Europe = ['Spain', 'Ireland', 'Switzerland', 'Italy', 'Netherlands','Germany', 'Sweden', 'Poland', 'Norway', 'France', 'UK', 
                    'Belgium', 'Portugal', 'Denmark']

In [7]:
df_europe = df[df['country'].isin(countries_Europe)]

In [10]:
df_europe.shape

(1027, 65)

In [11]:
allCrops = df['crop'].unique()
allCrops

array(['Rubus idaeus', 'Fragaria x ananassa', 'Coffea arabica',
       'Coffea canephora', 'Prunus dulcis', 'Brassica napus',
       'Vaccinium corymbosum', 'Passiflora edulis',
       'Anacardium occidentale', 'Annona muricata', 'Annona squamosa',
       'Bixa orellana', 'Gossypium hirsutum', 'Malpighia emarginata',
       'Mangifera indica', 'Persea americana', 'Macadamia integrifolia',
       'Prunus avium', 'Phaseolus vulgaris L.', 'Allium porrum',
       'Malus domestica', 'Pyrus communis', 'Vaccinium macrocarpon',
       'Abelmoschus esculentus', 'Cucumis sativus', 'Lagenaria siceraria',
       'Luffa acutangula', 'Momordica charantia', 'Brassica rapa',
       'Vaccinium meridionale', 'Fagopyrum esculentum',
       'Citrullus lanatus', 'Cucurbita pepo', 'Malus pumila',
       'Prunus cerasus', 'Trifolium pratense', 'Helianthus annuus',
       'Vicia faba', 'Psidium guajava', 'Actinidia deliciosa',
       'Cajanus cajan', 'Citrus limon', 'Citrus paradisi',
       'Capsicum annuum', 'Cucumis melo', 'Solanum lycopersicum',
       'Annona squamosa atemoya', 'Coffea arabica/robusta',
       'Actinidia chinensis'], dtype=object)

In [12]:
topCrop = ['Malus domestica', 'Prunus avium', 'Prunus dulcis', 'Vaccinium corymbosum']

In [13]:
df_europe_topCrop = df_europe[df_europe['crop'].isin(topCrop)]
df_europe_topCrop.shape

(336, 65)

In [14]:
df_topCrop = df[df['crop'].isin(topCrop)]
df_topCrop.shape

(1173, 65)

In [17]:
id_df_europe_topCrop = df_europe_topCrop['study_id'].unique()
id_df_europe_topCrop

array(['Amparo_Lazaro_Prunus_dulcis_Spain_2015',
       'Amparo_Lazaro_Prunus_dulcis_Spain_2016',
       'Christof_Schuepp_Prunus_avium_Switzerland_2011',
       'David_Kleijn_Malus_domestica_Netherlands_2010',
       'David_Kleijn_Malus_domestica_Netherlands_2011',
       'David_Kleijn_Malus_domestica_Netherlands_2013',
       'David_Kleijn_Malus_domestica_Netherlands_2014',
       'David_Kleijn_Vaccinium_corymbosum_Netherlands_2013',
       'David_Kleijn_Vaccinium_corymbosum_Netherlands_2014',
       'Jens_Astrom_Malus_domestica_Norway_2013',
       'Katherine_LW_Burns_Malus_domestica_Ireland_2018',
       'Marcos_Minarro_Malus_domestica_Spain_2015',
       'Marcos_Minarro_Malus_domestica_Spain_2016',
       'Michael_Garratt_Malus_domestica_UK_2011',
       'Nicolas_J_Vereecken_Malus_domestica_France_2016',
       'Nicolas_J_Vereecken_Malus_domestica_Belgium_2019',
       'Nicolas_J_Vereecken_Malus_domestica_France_2019',
       'Nicolas_J_Vereecken_Malus_domestica_Belgium_2017',
       'Nicolas_J_Vereecken_Vaccinium_corymbosum_Belgium_2017',
       'Nicolas_J_Vereecken_Malus_domestica_Belgium_2016',
       'Virginie_Boreux_Malus_domestica_Germany_2015',
       'Ariza_etal_sweetcherry_Belgium_2019',
       'Ariza_etal_apple_Belgium_2019',
       'Eeraerts_etal_sweetcherry_Belgium_2015',
       'Eeraerts_etal_sweetcherry_Belgium_2016',
       'Eeraerts_etal_sweetcherry_Belgium_2017'], dtype=object)

In [18]:
id_df_europe = df_europe['study_id'].unique()
print(id_df_europe.shape)
id_df_europe

(76,)

array(['Alejandro_Trillo_Fragaria_ananassa_Spain_2016',
       'Alison_D_Oreilly_Brassica_napus_Ireland_2019',
       'Amparo_Lazaro_Prunus_dulcis_Spain_2015',
       'Amparo_Lazaro_Prunus_dulcis_Spain_2016',
       'Christof_Schuepp_Prunus_avium_Switzerland_2011',
       'Dara_Stanley_Brassica_napus_Ireland_2009',
       'Dara_Stanley_Brassica_napus_Ireland_2010',
       'David_Kleijn_Allium_porrum_Italy_2012',
       'David_Kleijn_Malus_domestica_Netherlands_2010',
       'David_Kleijn_Malus_domestica_Netherlands_2011',
       'David_Kleijn_Malus_domestica_Netherlands_2013',
       'David_Kleijn_Malus_domestica_Netherlands_2014',
       'David_Kleijn_Pyrus_communis_Netherlands_2010',
       'David_Kleijn_Pyrus_communis_Netherlands_2011',
       'David_Kleijn_Vaccinium_corymbosum_Netherlands_2013',
       'David_Kleijn_Vaccinium_corymbosum_Netherlands_2014',
       'Frank_Jauker_Brassica_napus_Germany_2006',
       'Georg_Andersson_Brassica_rapa_Sweden_2010',
       'Georg_Andersson_Fragaria_ananassa_Sweden_2009',
       'Hajnalka_Szentgyorgyi_Fagopyrum_esculentum_Poland_2005',
       'Ignasi_Bartomeus_Brassica_napus_Sweden_2013',
       'Jens_Astrom_Malus_domestica_Norway_2013',
       'Jens_Astrom_Trifolium_pratense_Norway_2013',
       'Jens_Astrom_Trifolium_pratense_Norway_2014',
       'Jeroen_Scheper_Brassica_napus_Netherlands_2011',
       'Jeroen_Scheper_Brassica_napus_several_countries_2012',
       'Jeroen_Scheper_Helianthus_annuus_France_2015',
       'Jessica_Knapp_Cucurbita_pepo_UK_2016',
       'Johan_Ekroos_Vicia_faba_Sweden_2016',
       'Katherine_LW_Burns_Malus_domestica_Ireland_2018',
       'Katherine_LW_Burns_Vicia_faba_Ireland_2018',
       'Katherine_LW_Burns_Vicia_faba_Ireland_2019',
       'Louis_Sutter_Brassica_napus_Switzerland_2014',
       'Maj_Rundlof_Brassica_napus_Sweden_2011',
       'Maj_Rundlof_Brassica_napus_Sweden_2012',
       'Marcos_Minarro_Malus_domestica_Spain_2015',
       'Marcos_Minarro_Malus_domestica_Spain_2016',
       'Michael_Garratt_Brassica_napus_UK_2012',
       'Michael_Garratt_Fragaria_ananassa_UK_2011',
       'Michael_Garratt_Malus_domestica_UK_2011',
       'Michael_Garratt_Vicia_faba_UK_2011',
       'Nicolas_J_Vereecken_Brassica_napus_France_2016',
       'Nicolas_J_Vereecken_Malus_domestica_France_2016',
       'Nicolas_J_Vereecken_Malus_domestica_Belgium_2019',
       'Nicolas_J_Vereecken_Malus_domestica_France_2019',
       'Nicolas_J_Vereecken_Malus_domestica_Belgium_2017',
       'Nicolas_J_Vereecken_Rubus_idaeus_Belgium_2017',
       'Nicolas_J_Vereecken_Vaccinium_corymbosum_Belgium_2017',
       'Nicolas_J_Vereecken_Malus_domestica_Belgium_2016',
       'Nicolas_J_Vereecken_Brassica_napus_Belgium_2019',
       'Nicolas_J_Vereecken_Fragaria_x_ananassa_Belgium_2019',
       'Nicolas_J_Vereecken_Pyrus_communis_Belgium_2019',
       'Rebecca_Steward_Fragaria_ananassa_Sweden_2014',
       'Riccardo_Bommarco_Brassica_napus_Sweden_2005',
       'Riccardo_Bommarco_Brassica_napus_Sweden_2009',
       'Riccardo_Bommarco_Trifolium_pratense_Sweden_2008',
       'Riccardo_Bommarco_Trifolium_pratense_Sweden_2009',
       'Riccardo_Bommarco_Trifolium_pratense_Sweden_2010',
       'Sandra_Lindstrom_Brassica_napus_Sweden_2011',
       'Sandra_Lindstrom_Brassica_napus_Sweden_2012',
       'Silvia_Castro_Actinidia_deliciosa_Portugal_2018',
       'Silvia_Castro_Actinidia_deliciosa_Portugal_2019',
       'Silvia_Castro_Helianthus_annuus_Spain_2017',
       'Silvia_Castro_Helianthus_annuus_Spain_2018',
       'Simon_Potts_Vicia_faba_UK_2005',
       'Thijs_Fijen_Allium_porrum_France_2016',
       'Thijs_Fijen_Allium_porrum_Italy_2016',
       'Violeta_Hevia_Helianthus_annuus_Spain_2017',
       'Virginie_Boreux_Malus_domestica_Germany_2015',
       'Ariza_etal_sweetcherry_Belgium_2019',
       'Ariza_etal_apple_Belgium_2019', 'Dupont_redclover_Denmark_2008',
       'Dupont_redclover_Denmark_2009',
       'Eeraerts_etal_sweetcherry_Belgium_2015',
       'Eeraerts_etal_sweetcherry_Belgium_2016',
       'Eeraerts_etal_sweetcherry_Belgium_2017'], dtype=object)

In [20]:
df_europe_topCrop.to_csv("shortlist.csv")

In [21]:
cherryStudies = ['Christof_Schuepp_Prunus_avium_Switzerland_2011', 'Ariza_etal_sweetcherry_Belgium_2019', 'Eeraerts_etal_sweetcherry_Belgium_2015', 'Eeraerts_etal_sweetcherry_Belgium_2016', 'Eeraerts_etal_sweetcherry_Belgium_2017']
df_cherry = df_europe[df_europe['study_id'].isin(cherryStudies)]
df_cherry.shape

(69, 65)

In [22]:
df_cherry.columns

Index(['study_id', 'site_id', 'crop', 'variety', 'management', 'country',
       'latitude', 'longitude', 'X_UTM', 'Y_UTM', 'zone_UTM',
       'sampling_start_month', 'sampling_end_month', 'sampling_year',
       'field_size', 'yield', 'yield_units', 'yield2', 'yield2_units',
       'yield_treatments_no_pollinators', 'yield_treatments_pollen_supplement',
       'yield_treatments_no_pollinators2',
       'yield_treatments_pollen_supplement2', 'fruits_per_plant',
       'fruit_weight', 'plant_density', 'seeds_per_fruit', 'seeds_per_plant',
       'seed_weight', 'sampling_richness', 'observed_pollinator_richness',
       'other_pollinator_richness', 'other_richness_estimator_method',
       'richness_restriction', 'sampling_abundance', 'abundance',
       'ab_honeybee', 'ab_bombus', 'ab_wildbees', 'ab_syrphids',
       'ab_humbleflies', 'ab_other_flies', 'ab_beetles', 'ab_lepidoptera',
       'ab_nonbee_hymenoptera', 'ab_others', 'total_sampled_area',
       'total_sampled_time', 'sampling_visitation', 'visitation_rate_units',
       'visitation_rate', 'visit_honeybee', 'visit_bombus', 'visit_wildbees',
       'visit_syrphids', 'visit_humbleflies', 'visit_other_flies',
       'visit_beetles', 'visit_lepidoptera', 'visit_nonbee_hymenoptera',
       'visit_others', 'Publication', 'Credit', 'Email_contact', 'notes'],
      dtype='object')

In [23]:
df_cherry.drop(['yield2', 'yield2_units',
       'yield_treatments_no_pollinators', 'yield_treatments_pollen_supplement',
       'yield_treatments_no_pollinators2',
       'yield_treatments_pollen_supplement2', 'fruits_per_plant',
       'fruit_weight', 'plant_density', 'seeds_per_fruit', 'seeds_per_plant',
       'seed_weight'], axis=1, inplace=True)
df_cherry.shape

C:\Users\psabi\AppData\Local\Temp\ipykernel_11168\2971056097.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cherry.drop(['yield2', 'yield2_units',

(69, 53)

In [24]:
df_cherry.drop(['Publication', 'Credit', 'Email_contact', 'notes', 'X_UTM', 'Y_UTM','zone_UTM',
       'sampling_start_month', 'sampling_end_month'], axis=1, inplace=True)
df_cherry.shape

C:\Users\psabi\AppData\Local\Temp\ipykernel_11168\92819303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cherry.drop(['Publication', 'Credit', 'Email_contact', 'notes', 'X_UTM', 'Y_UTM','zone_UTM',

(69, 44)

In [32]:
almondStudies = ['Amparo_Lazaro_Prunus_dulcis_Spain_2015', 'Amparo_Lazaro_Prunus_dulcis_Spain_2016']
df_almond = df_europe[df_europe['study_id'].isin(almondStudies)]
df_almond.shape

(35, 65)

In [33]:
df_almond.drop(['Publication', 'Credit', 'Email_contact', 'notes', 'X_UTM', 'Y_UTM','zone_UTM',
       'sampling_start_month', 'sampling_end_month', 'yield2', 'yield2_units',
       'yield_treatments_no_pollinators', 'yield_treatments_pollen_supplement',
       'yield_treatments_no_pollinators2',
       'yield_treatments_pollen_supplement2', 'fruit_weight', 'plant_density', 'seeds_per_fruit', 'seeds_per_plant',
       'seed_weight', 'sampling_richness','other_pollinator_richness', 'other_richness_estimator_method'], axis=1, inplace=True)
df_almond.shape

C:\Users\psabi\AppData\Local\Temp\ipykernel_11168\1255304005.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_almond.drop(['Publication', 'Credit', 'Email_contact', 'notes', 'X_UTM', 'Y_UTM','zone_UTM',

(35, 42)

In [37]:
df_almond.drop(['visit_others'], axis=1, inplace=True)
df_almond.shape

C:\Users\psabi\AppData\Local\Temp\ipykernel_11168\3223104749.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_almond.drop(['visit_others'], axis=1, inplace=True)

(35, 30)

In [38]:
bbStudies = ['David_Kleijn_Vaccinium_corymbosum_Netherlands_2013', 'David_Kleijn_Vaccinium_corymbosum_Netherlands_2014', 'Nicolas_J_Vereecken_Vaccinium_corymbosum_Belgium_2017']
df_bb = df_europe[df_europe['study_id'].isin(bbStudies)]
df_bb.shape

(33, 65)

In [39]:
df_bb.drop(['crop', 'sampling_visitation', 'visitation_rate_units',
       'visitation_rate', 'visit_honeybee', 'visit_bombus', 'visit_wildbees',
       'visit_syrphids', 'visit_humbleflies', 'visit_other_flies',
       'visit_beetles', 'visit_lepidoptera', 'visit_nonbee_hymenoptera',
       'visit_others', 'Publication', 'Credit', 'Email_contact', 'notes', 'country',
       'latitude', 'longitude', 'X_UTM', 'Y_UTM', 'zone_UTM',
       'sampling_start_month', 'sampling_end_month', 'sampling_year', 'yield_treatments_no_pollinators', 'yield_treatments_pollen_supplement', 'fruits_per_plant',
       'fruit_weight', 'plant_density', 'seeds_per_fruit', 'seeds_per_plant',
       'seed_weight'], axis=1, inplace=True)
df_bb.shape

C:\Users\psabi\AppData\Local\Temp\ipykernel_11168\3636896799.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bb.drop(['crop', 'sampling_visitation', 'visitation_rate_units',

(33, 30)